* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  
  body {
    background: #f2f2f2;
    font-family: "Roboto";
    border-top: 30px solid #303F9F; }
  
  .wrap {
    width: 90%;
    max-width: 500px;
    padding: 40px;
    margin: auto;
    background: #fff;
    box-shadow: 0px 0px 3px grey; }
  
  .contenedor-formulario {
    width: 100%;
    padding: 50px; }
    .contenedor-formulario .formulario {
      width: 100%;
      margin: auto; }

      .titulo {
        margin-bottom: 20px ;
      }
      .contenedor-formulario .formulario .input-group {
        position: relative;
        margin-bottom: 32px; }

        .contenedor-formulario .formulario .input-group input[type="text"],
        .contenedor-formulario .formulario .input-group input[type="email"],
        .contenedor-formulario .formulario .input-group input[type="password"] {
          font-family: "Roboto";
          font-size: 16px;
          color: #303F9F;
          width: 100%;
          outline: none;
          padding: 15px;
          background: none;
          border: none;
          border-bottom: 2px solid #303F9F; }
          
        .login{
                
            text-align: center;
            .button-text-l{
                font-size: 13px;
                border-radius: 5px;
                border: 0px;
                border: 1px;
                border-color: black;
                border-style: solid;
                width: auto;
                height: 27px;
            }
        }